{{!-- <form action="/api/users/signup" method="POST"> --}}
<div class = "card m-3">
    <div class="card-header">
        <h3>Sign up</h3>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="username" class="form-control" id="username" name="username" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <button id="signupbtn" class="btn btn-primary">Sign up</button>
        <br />
        <a href="/login">Login Instead</a>
    </div>
    </div>
<script src="/javascript/signup.js"></script>